{% extends "base.html" %}
{% block title %}We couldn't sign you up today{% endblock %}

{% block content %}
{% if current_membership is not None %}
<header class="masthead">
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Sorry to see you go!</h1>
    </div>
</div>
</header>
<section class="page-section">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <form action="/memberships/cancel-subscription/" method="POST">
        {% csrf_token %}
		 <input type="hidden" name="subId" value="{{ current_membership_sub_id}}" />
        <button type="submit">Click here to cancel</button>
    </form>
</section>
{% else %}
<header class="masthead">
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Ooops...</h1>
    </div>
</div>
</header>
<section class="page-section">
    <div class="row text-center">
        <div class="col">
            <p>We're really sorry but we couldn't process your membership this time.</p>
            <p>Please <a href="/memberships/">try again</a> or if you're still having issues, <a href="mailto:membership@makemonmouth.co.uk">get in touch</a>.</p>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
